@import 'custom';
@import '~bootstrap/scss/bootstrap';

body {
  width: 100%;
  height: 100%;
  margin: 10px 30px;
  overflow-x: hidden;
  background-image: url(images/background.jpg);
  background-repeat: repeat;
  background-size: contain;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 22px;
}

p {
  color: #fff;
}

a {
  text-decoration: none;
}

.header {
  &__link {
    &_active {
      text-decoration: underline;
    }
    &:hover {
      box-shadow: inset 0 0 0 23px #f4f80667;
      border-radius: 20%;
    }
  }
}

.delivery-content {
  margin: 0 20px;

  &__shops {
    height: 100%;
  }

  &__shop-button {
    height: 80px;
    border-radius: 20%;
  }

  &__dish {
    border: 3px solid green;
    border-radius: 20px;
    padding: 20px;
    margin: 15px 20px 0 20px;
    width: 340px;
    height: 340px;
    position: relative;
  }

  &__img {
    width: 220px;
    height: 200px;
  }

  &__img-intro {
    width: 900px;
    height: 300px;
  }

  &__remove-button {
    position: absolute;
    right: 13px;
    width: 30px;
    height: 30px;
  }

  &__shop-menu {
    border: 3px solid rgba(0, 128, 0, 0.304);
    height: 600px;
    overflow: auto;
    border-radius: 2%;
    width: 1180px;
  }

  &__input-quantity {
    background-color: transparent;
    border: 1px solid rgb(34, 130, 61);
    border-radius: 5%;
    text-align: center;
  }

  &__counter-wrapper {
    background: transparent;
    border: 1px solid rgba(9, 201, 102, 0.825);
    border-radius: 8px;
    width: 120px;
    display: flex;
    font-size: 18px;
    height: 30px;
    overflow: hidden;
  }

  &__control {
    width: 60px;
    cursor: pointer;
    transition: 0.2s ease-in;
    text-align: center;
    color: #fff;
    &:hover {
      background: #eb5a1e;
    }
  }

  &__current {
    width: 40px;
    text-align: center;
    color: #fff;
  }
}

.shopping-cart {
  &__user-data {
    height: 100%;
  }

  &__input-container {
    height: 50px;
  }

  &__selected-dishes {
    border: 3px solid rgba(0, 128, 0, 0.304);
    height: 500px;
    overflow: auto;
    border-radius: 2%;
  }

  &__input {
    background-color: black;
  }
}
